*{
  text-decoration: none;
}

.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.layout-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #f2f0de;
  border-radius: 15px;
}

.layout-logo {
  font-size: 1.25rem;
  margin: 0;
}

.layout-nav{
  padding: 10px;
  width: 200px;
  flex-direction: column;
  display: flex;
  margin: 10px;
  gap: 1rem;
  background-color: rgb(249, 250, 249);
  border-radius: 10px;
  width: 150px;
}

.layout-nav a{
  color: black;
}

.layout-footer{
  display: flex;
  margin: 10px;
  justify-content: center;
  gap: 1rem;
  padding: 1rem 2rem;
  text-align: center;
  background-color: #f8f8f6;
  color: #64748b;
  font-size: 0.875rem;
  border-radius: 15px;
}

.layout-nav li {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  gap: 1rem;
  border-bottom: 0.1rem solid gray;
}

.admin-body{
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  display: flex;
  flex: 1;
  flex-direction: row;
  border-left: 1px solid gray;
}

.layout-content {
  flex: 1;
  padding: 2rem;
}